


/*MAIN LAYOUT CSS*/

#top-header {
  height: 3vmax;
}
#side-panel {
  height: 100%;
}

#top-space {
  height: 22%;
}

#filters {
  margin-top: 12px;
  color: rgb(175, 175, 175);
  display: none;

}

.filtersshow {
  margin-top: 10px;
  color: rgb(199, 199, 199);
  display: block;
  font-style: oblique;
  font-size: smaller;
}

#template {
  display: none;
}

.filteroptions {
  display: block;
  font-size: medium;
  text-align: right;
}

@media only screen and (max-width: 992px) {
  #side-panel {
    height: 20% !important;
  }
  #main-panel {
    height: 80% !important;
  }
  #full-contain {
    height: 70vh !important;
  }
  #top-space {
    display: none;
  }

}

#main-panel {
  background-color: white;
  height: 100%;
  padding: 0px;
  overflow: hidden;

}

#full-contain {
  height: 80vh;
  padding-right: 0px;
  padding-left: 0px;
}

#title{
  padding-left: 0px;
}

#title h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 6vmax;
  color: #444444;
  text-shadow: 3px 3px #cbcbcb;
}






/*SEARCH*/

#search {
  background-color: white;
  height: 22%;
  border-bottom: 3px solid rgb(234, 234, 234);
  position: relative;
}
/*INPUT STYLE FOR SEARCH*/
input[type=text]#searchtext {
  border: 0px;
  width: 100%;
  font-size: 31pt;
  color: rgb(159, 159, 159);
  margin-bottom: -12px;
  padding-bottom: 0px;
  bottom: 0;
  position: absolute;
  z-index: 9;
  background: none;
}
input[type=text]#searchtext:focus {
  outline: none;
  color: rgb(94, 94, 94);
}






/*INPUT STYLE FOR NEW CONTACT*/

input[type=text].nameinput {
  border: 0px;
  width: 45%;
  font-size: xx-large;
  color: rgb(159, 159, 159);
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: inline;
  background: none;
}
input[type=text].nameinput:focus {
  outline: none;
  color: rgb(208, 26, 201);
}


input[type=text].otherinput {
  border: 0px;
  width: 45%;
  font-size: small;
  color: rgb(159, 159, 159);
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: inline;
  background: none;
}
input[type=text].otherinput:focus {
  outline: none;
  color: rgb(208, 26, 201);
}

#message {
  text-align: center;
  font-size: normal;
  margin-top: 14px;
}

#showon-noresult {
  display: none;
}

.fadein {
  animation: fadeInLoad 1s;
}

@keyframes fadeInLoad {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
  }



.hidden {
  display: none !important;
}

.showit {
  display:block;
}

/*.newcontactli-noresult {
  border: 2px solid rgb(236, 143, 143) !important;
  background-color: #F2DEDE !important;
}*/

.newcontactli-nocontacts {
  border: 2px solid rgb(124, 222, 149) !important;
  background-color: #e0f2de !important;
  margin: 0px;
}

#showon-nocontacts {
  display: none;
}


#save-new {
  margin-right: 4px;
}







/*STYLING FOR CONTACT TILES AND NEW FORM*/

#list-container {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: scroll;
  height: 80%;
}

#list-container::-webkit-scrollbar {
    display: none;
}

.contactli {
  border: 1px solid rgb(202, 202, 202);
  height: 155px;
  /* width: 100%; */
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 12px;
  margin-top: 12px;
  box-shadow: 1px 1px rgba(204, 204, 204, 0.77);
  background-color: #FFFFFF;
}

.photo-thumb {
  height: 100%;
  overflow: hidden !important;
  padding: 0px;
  border-right: 1px solid #F3F3F3;
}

.photo-thumb img {
  width: 100%;
  margin-top: -12%;
}

.name {
  font-size: xx-large;
}

.company {
  margin-bottom: 2%;
}

.info-group {

}

.sub-info-group {
  padding: 0px;
  color: rgb(139, 139, 139);
}

#delete-contact {
  margin-right: 4px;
}

#delete-contact:hover {
  margin-right: 4px;
  background-color: rgb(246, 115, 111);
}
