
#side-panel {
  background-color: rgb(182, 78, 207);
}

#main-panel {
  background-color: rgb(150, 235, 215);
}

#search {
  background-color: rgb(235, 113, 45);
}

.contactli {
  background-color: rgb(227, 227, 227);
}
